@import 'colors.scss';

.min-toolbar {
  background-color: white;
  height: 56px;
  border-bottom: 1px solid $border-color;
  margin-left: 60px;
  transition: 0.4s;
}

.open-close-header {
  margin-left: 270px;
  transition: 0.4s;
}

.menu-icon {
  color: $menu-icon-color;
  margin-bottom: 4px;
}

::ng-deep .sidebar-minimize-icons .mat-button-focus-overlay {
  background-color: transparent !important;
}

.connectToSlackButton {
  align-items: center;
  color: #000;
  background-color: #e8f3f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-flex;
  font-family: Lato, sans-serif;
  font-size: 120%;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  text-decoration: none;
  width: 236px;
  cursor: pointer;
  margin-right: 15px;

  .slackIcon {
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }
}

.collabButton {
  margin: 0px 15px;
  position: relative;
  top: 10px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;

  & ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }
}

.header-title {
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  margin-left: 10px;
  color: $black;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.header-cols {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.width-auto {
  width: auto;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-message-icon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 7px;
}

.header-user-icon {
  width: 45px;
  height: 45px;
  margin: 0px 5px 0px 10px;
  border-radius: 50%;
}

.arrow-icon {
  margin-top: 10px;
  font-size: 400%;
}

.create-new-ins {
  height: 36px;
}

.create-new-ins-btn {
  padding: 0 10px 0 10px;
  font-size: 100%;
}

.sidebar-minimize-icons {
  display: inline-flex;
}

.sidebar-close {
  width: 28px;
  min-width: 28px;
  // padding: 7px 10px 7px 7px;
  cursor: pointer;
}

// .sidebar-close:hover {
//   background: rgba(61, 90, 254, 0.08);
//   border-radius: 50%;
// }

.sidebar-open {
  width: 28px;
  min-width: 28px;
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 5px;
}

// .sidebar-open:hover {
//   background: rgba(61, 90, 254, 0.08);
//   border-radius: 50%;
// }

::ng-deep .xng-breadcrumb-root {
  margin: 0 0 0 10px !important;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-list {
  flex-wrap: nowrap;
}

.displayGrid {
  display: grid;
}

.breadcrumbs {
  position: relative;
  top: -13px;
  height: 13px;
  left: 1px;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-trail {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 90%;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-link {
  color: #3d5afe;
  font-size: 90%;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-link:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .sidebar-open {
    display: none;
  }

  .sidebar-close {
    display: none;
  }
}

.cursor {
  cursor: pointer;
}

.header-cols {
  .user-with-logo {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 7px;
    height: 49px;
  }

  .user-without-logo {
    padding: 0 7px;
    height: 49px;
  }

  .profile {
    width: 39px;
    height: 39px;
    position: relative;
    top: 5px;
    border-radius: 50%;
  }

  .with-company-logo {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 49px;
    white-space: nowrap;
    text-align: center;
    padding-right: 10px;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .logo-comes-here-text {
    font-weight: 600;
    font-size: 100%;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $black;
    opacity: 0.3;
    margin: 10px 0;
  }

  .logo {
    max-height: 44px;
    max-width: 126px;
    vertical-align: middle;
  }
}

.header-profile-menu-with-logo:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 15px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.header-profile-menu-without-logo:after {
  content: '';
  position: absolute;
  left: 160px;
  right: 0;
  top: -12px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 15px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.header-profile-menu {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 6px 4px 84px rgba(0, 0, 0, 0.15);
  padding: 16px 0px;
  width: 210px;
  position: relative;
  top: 10px;
  left: 190px;

  .profile-image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 62px;
  }

  .loggedin-user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 120%;
    text-align: center;
    color: $black;
    word-wrap: break-word;
    margin: 10px 0 7px 0;
  }

  .loggedin-user-role {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    margin: 0 0 7px 0;
    text-align: center;
    color: #8f8f8f;
    word-wrap: break-word;
  }

  .loggedin-user-email {
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    margin: 0 14px;
    text-align: center;
    color: #8f8f8f;
    word-wrap: break-word;
  }

  .profile-signout {
    font-weight: 400;
    font-size: 120%;
    color: $black;
  }
}

.collabDialog .mat-dialog-container {
  border-radius: 20px !important;
}

.header-loading {
  margin-top: 7px;
}

.user-details-loading {
  position: absolute;
  right: 16px;
  top: 7px;
  width: 200px;
}

.userPresence {
  position: relative !important;

  .statusCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // background-color: grey;
    border: 2px solid $white;
    bottom: 2px;
    right: 5px;
    position: absolute;
  }

  .online {
    background-color: $green;
  }

  .offline {
    background-color: $gray;
  }
}

.user-profile {
  position: fixed;
  right: 8px;
}

.non-empty-add-section-btn {
  // margin-top: 12px;
  background-color: #2c4c95;
  // outline: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 90px;
  height: 30px;
  margin-left: 32%;
  position: relative;

  .non-empty-add-section-btn-container {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-around;
  }

  p {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }

  .no-section-add-one-btn-text {
    font-size: small;
    font-weight: 500;
  }
}

.button-disabled {
  background-color: #bdbdbd;
}

.spinner {
  position: absolute;
  right: 2px;
}

.loader {
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 18px;
  .icon-nine-dots {
    width: 24px;
    height: 24px;
  }
  .profile-container {
    display: flex;
    border: 1px solid $border-color;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    .profile-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $border-color;
    }
  }
}
