.toast {
  position: fixed;
  display: flex;
  align-items: center;
  top: 100px;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 10px 10px 15px;
  min-width: auto; 
 max-width: 40%;
 right:0px;
 word-wrap: break-word;
  overflow: hidden;
  background: #000000;
  gap: 4px;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #d6d6d6 #cfcfcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.toast-success {
  width: 20px;
  height: 20px;
}

.toast-close {
  /* font-size: 160%; */

  cursor: pointer;
}
