@import '../scss/colors.scss';

.mat-drawer-content {
  overflow: hidden;
  background-color: #f9faff;
  margin: 0 !important;
}

.mat-drawer {
  position: fixed;
  border-right: 1px solid $border-color;
  height: auto;
  box-shadow: none;
  overflow: hidden;
  box-shadow: 5px 0px 15px rgb(0 0 0 / 15%);
}

.main-app {
  height: 100vh;





}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.logo-img {
  height: 65px;
}



.submenu {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  color: #8b96cc;
  cursor: pointer;
  height: 42px !important;
}

.submenu.subSelected {
  color: #2a3eb1;
  background: #f0f3ff;
  border-radius: 8px;
  width: 95%;
}

.sidebar-icons {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 7px;
}

li.selected .sidebar-icons {
  margin-left: 5px;
}

@media screen and (min-width: 990px) {
  .min-app {
    display: none;
  }
}

@media screen and (max-width: 1022px) {
  .min-app {
    position: fixed;
    top: 40%;
    left: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 1022px) {
  .main-app {
    display: none;
  }
}

.m-l-70 {
  margin-left: 70px;
}

.menu-title {
  white-space: nowrap;
  position: relative;
  left: 20px;
}

.menu-name {
  color: #727caf;
  font-size: 100%;
}

.menu-name.active {
  color: #2a3eb1;
}

.menu-name:hover {
  background-color: transparent;
}

.menu-name:focus {
  background-color: transparent;
}

.hide-content {
  display: none;
}

.arrow-margin {
  margin: 15px 10px;
}

.innov-big-img {
  position: absolute;
  left: 3px;
  width: 231px;
  height: 191px;
  top: -63px;
}

.innova-small-img {
  position: absolute;
  left: 6px;
  width: 65px;
  height: 28px;
  margin-top: 10px;
}

.innov-small-img {
  position: absolute;
  left: 18px;
  width: 39px;
  height: 28px;
  margin-top: 18px;
}

.show-login {
  margin: 0;
  height: 100%;
}

mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 280px;
  background-color: #ffffff;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.menu-close {
  width: 75px;
}

::ng-deep .sidebar-menu-items .mat-list-item-content {
  padding: 0 10px !important;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

.sidebar-menu-items {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 110px);
  margin-bottom: 15px;

  .menu-item {

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 110%;
      color: #76767b;
      cursor: pointer;
      display: flex;

      .sidebar-icons {
        width: 20px;
        height: 20px;
        padding: 10px 30px 30px 10px;

       
      }

      &:hover {
        background-color: #eeeeee;
      }


    }

    li.selected {
      border-left: 5px solid #2a3eb1;

      .sidebar-icons {
        background-color: #2a3eb1;       
      }

  
    }
  }

  ::ng-deep .mat-list-base {
    padding-top: 0 !important;
  }
}

::ng-deep .sidebar-close-loader .ngx-shimmer {
  margin: 10px 16px 0 16px;
  width: 55% !important;
}

::ng-deep .sidebar-open-loader .ngx-shimmer {
  margin: 10px 13px 0 13px;
  width: 90% !important;
}

.icon-arrow {
  ::ng-deep svg {
    width: 10px !important;
    height: 10px !important;
  }
}

.version {
  color: $menu-icon-color;
  width: 229px;
  height: 14px;
  text-align: center;
  font-weight: 500;
}