<div class="filter-report-modal custom-form-field-white-color">
  <div class="m-b-10 filter-header">
    <span id="filterText" class="filter-modal-heading">Filter</span>
    <button
      id="filterCloseBtn"
      class="filter-modal-cancel"
      (click)="closeFilter()"
      aria-label="Close Filter"
    >
      <svg-icon
        id="filterCancelIcon"
        icon="icon-cancel-icon"
        class="filter-cancel"
      ></svg-icon>
    </button>
  </div>
  <div class="filter-form-fields" *ngIf="(isLoading$ | async) === false">
    <div class="filter-items" *ngFor="let item of json$ | async">
      <mat-form-field
        *ngIf="item.type === 'select'"
        appearance="outline"
        class="mat-field"
      >
        <mat-label id="filterLabel">{{ item.label }}</mat-label>
        <mat-select [(ngModel)]="item.value" name="showStatus">
          <mat-option *ngFor="let showdue of item.items" [value]="showdue">
            {{ showdue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="item.type === 'multiple'"
        appearance="outline"
        class="mat-field"
      >
        <mat-label id="filterStatusLabel">{{ item.label }}</mat-label>
        <mat-select
          #matSelect
          multiple
          [(ngModel)]="item.value"
          name="showStatus"
        >
          <div class="multiple-header">
            <span id="doneLabel">{{ item.label }}</span>
            <button
              id="filterDoneBtn"
              class="done-filters-btn"
              (click)="closeSelect(matSelect)"
            >
              {{ 'done' | translate }}
            </button>
          </div>
          <div class="scrollable-area">
            <mat-option *ngFor="let showDue of item.items" [value]="showDue">
              {{ showDue }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <div class="schedule-wrap" *ngIf="item.type === 'schedule'">
        <div
          [ngClass]="
            item.itemValue &&
            (item.itemValue === 'Daily' ||
              item.itemValue === 'Monthly' ||
              item.itemValue === 'Weekly' ||
              item.itemValue === 'Custom dates')
              ? 'width50'
              : 'width100'
          "
        >
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label id="filterShowDue">{{ item.label }}</mat-label>
            <mat-select [(ngModel)]="item.itemValue" name="showStatus">
              <mat-option *ngFor="let showdue of item.items" [value]="showdue">
                {{ showdue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="width50 date-picker"
          *ngIf="item.itemValue && item.itemValue === 'Custom dates'"
        >
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label id="filterSelectDate">Select Date</mat-label>
            <div class="date-picker-wrap">
              <input
                id="filterDatePicker"
                [(ngModel)]="item.value"
                readonly=""
                matInput
                [matDatepicker]="picker"
                (click)="picker.open()"
              />
              <mat-icon
                id="filterDropDown"
                matDatepickerToggleIcon
                (click)="picker.open()"
                >arrow_drop_down</mat-icon
              >
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </mat-form-field>
        </div>
        <div
          class="width50"
          *ngIf="
            item.itemValue &&
            (item.itemValue === 'Daily' ||
              item.itemValue === 'Weekly' ||
              item.itemValue === 'Monthly')
          "
        >
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label id="filterEnterSchedule">Enter Schedule</mat-label>
            <input
              id="enterScheduleInput"
              [(ngModel)]="item.itemValue"
              type="number"
              matInput
            />
          </mat-form-field>
        </div>
      </div>
      <mat-form-field
        *ngIf="item.type === 'date'"
        appearance="outline"
        class="mat-field date-picker"
      >
        <mat-label id="filterDatePickerLabel">{{ item.label }}</mat-label>
        <div class="date-picker-wrap">
          <input
            id="datePickerInput"
            [(ngModel)]="item.value"
            readonly=""
            matInput
            [matDatepicker]="picker"
            (click)="picker.open()"
          />
          <mat-icon matDatepickerToggleIcon (click)="picker.open()"
            >arrow_drop_down</mat-icon
          >
        </div>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        *ngIf="item.type === 'daterange'"
        appearance="outline"
        class="mat-field date-picker"
        (click)="picker1.open()"
      >
        <mat-label id="filterStartDateLabel">{{ item.label }}</mat-label>
        <div class="date-picker-wrap">
          <mat-date-range-input [rangePicker]="picker1">
            <input
              id="filterStartDate"
              matStartDate
              [(ngModel)]="item.startDate"
              [placeholder]="'startDate' | translate"
            />
            <input
              id="filterEndDate"
              matEndDate
              [(ngModel)]="item.endDate"
              (dateInput)="dateRangeSelect(item)"
              [placeholder]="'endDate' | translate"
            />
          </mat-date-range-input>
          <mat-icon matDatepickerToggleIcon (click)="picker1.open()"
            >arrow_drop_down</mat-icon
          >
        </div>
        <mat-date-range-picker
          #picker1
          [calendarHeaderComponent]="FilterSidePanelComponent"
        ></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field
        *ngIf="item.type === 'input'"
        appearance="outline"
        class="mat-field"
      >
        <mat-label id="inputFieldLabel">{{ item.label }}</mat-label>
        <input id="fieldInput" matInput type="text" [(ngModel)]="item.value" />
      </mat-form-field>
      <mat-form-field
        *ngIf="item.type === 'assignmentType'"
        appearance="outline"
        class="mat-field"
      >
        <mat-label id="filterStatusLabel">{{ item.label }}</mat-label>
        <mat-select
          #matSelect
          multiple
          [compareWith]="compareAssignedToObjects"
          [(ngModel)]="item.value"
          name="showStatus"
          panelClass="assigned-to-select"
        >
          <mat-select-trigger>
            <span *ngIf="assigneeTypeControl.value === 'user'"
              ><span
                *ngFor="let it of item.value; let i = index"
                [attr.data-index]="i"
                >{{ it.value?.fullName
                }}<span *ngIf="i !== item.value.length - 1">, </span></span
              ></span
            >
            <span *ngIf="assigneeTypeControl.value === 'userGroup'"
              ><span
                *ngFor="let it of item.value; let i = index"
                [attr.data-index]="i"
                >{{ it.value?.name
                }}<span *ngIf="i !== item.value.length - 1">, </span></span
              ></span
            >
            <span *ngIf="assigneeTypeControl.value === 'unit'"
              ><span
                *ngFor="let it of item.value; let i = index"
                [attr.data-index]="i"
                >{{ it.value?.name
                }}<span *ngIf="i !== item.value.length - 1">, </span></span
              ></span
            >
            <span *ngIf="assigneeTypeControl.value === 'position'"
              ><span
                *ngFor="let it of item.value; let i = index"
                [attr.data-index]="i"
                >{{ it.value?.name
                }}<span *ngIf="i !== item.value.length - 1">, </span></span
              ></span
            >
            <span *ngIf="assigneeTypeControl.value === 'plant'"
              ><span
                *ngFor="let it of item.value; let i = index"
                [attr.data-index]="i"
                >{{ it.plant
                }}<span *ngIf="i !== item.value.length - 1">, </span></span
              ></span
            >
          </mat-select-trigger>
          <div class="multiple-header">
            <span id="doneLabel">{{ item.label }}</span>
            <button
              id="filterDoneBtn"
              class="done-filters-btn"
              (click)="closeSelect(matSelect)"
            >
              {{ 'done' | translate }}
            </button>
          </div>
          <mat-radio-group
            class="radio-group"
            [formControl]="assigneeTypeControl"
          >
            <mat-radio-button
              color="primary"
              *ngFor="let assignType of assignTypes"
              (click)="$event.stopPropagation()"
              [value]="assignType"
            >
              {{ assignType | translate }}</mat-radio-button
            >
          </mat-radio-group>
          <span class="custom-form-field-gray-color">
            <mat-form-field appearance="outline" class="search">
              <mat-icon id="assignedToSearchIcon" matPrefix class="searchIcon"
                >search</mat-icon
              >
              <input
                id="assignedToSearchText"
                matInput
                type="text"
                [placeholder]="'search' | translate"
                autocomplete="off"
                [formControl]="searchInput"
              />
            </mat-form-field>
          </span>
          <div
            [ngClass]="{ 'user-items': assigneeTypeControl.value === 'user' }"
            class="scrollable-area m-b-12"
          >
            <mat-option
              *ngFor="let item of filteredAssignedToData$ | async"
              [value]="item"
            >
              <div
                *ngIf="assigneeTypeControl.value === 'user'"
                class="user-menu-item"
              >
                <img
                  id="assignedToProfileImg"
                  [src]="item.value?.profileImage"
                  alt="Profile Image"
                  class="profile-image"
                />
                <div class="user-info">
                  <span id="assignedToName" class="name">{{
                    item.value?.fullName
                  }}</span>
                  <span id="assignedToEmail" class="email">{{
                    item.value?.email
                  }}</span>
                </div>
              </div>
              <span *ngIf="assigneeTypeControl.value === 'userGroup'">{{
                item.value?.name
              }}</span>
              <span *ngIf="assigneeTypeControl.value === 'plant'">{{
                item.plant
              }}</span>
              <span *ngIf="assigneeTypeControl.value === 'unit'">{{
                item.value?.name
              }}</span>
              <span *ngIf="assigneeTypeControl.value === 'position'">{{
                item.value?.name
              }}</span>
            </mat-option>
            <div
              id="assignedToNoResult"
              *ngIf="!filteredAssignedToCount"
              class="no-results"
              translate
            >
              noSearchResultsFound
            </div>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="isLoading$ | async">
    <div class="loader-container">
      <div class="loader" *ngFor="let number of ghostLoading">
     <ngx-skeleton-loader count="1" appearance="line" [theme]="{height:'40px'}"/>
      </div>
    </div>
  </div>

  <div class="footer">
    <button
      id="filterApplyBtn"
      mat-raised-button
      class="btn apply-filters-btn"
      type="button"
      [disabled]="checkState()"
      (click)="applyFilter(); closeFilter()"
      aria-label="Apply Filter"
    >
      Apply
    </button>
    <button
      id="filterResetBtn"
      mat-button
      color="primary"
      [disabled]="checkState()"
      (click)="resetFilter(); closeFilter()"
      class="btn reset-filters-btn"
      aria-label="Cancel Filter"
    >
      Reset
    </button>
  </div>
</div>
