.kit-number {
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 19px;
    align-items: center;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
    padding-top: 7px;
  }
  
  .date-priority-label {
    font-style: normal;
    font-weight: normal;
    font-size: 85%;
    line-height: 19px;
    align-items: center;
    color: #76767b;
    padding: 2px 0;
    margin-left: 5px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
  
  .assign-btn {
    margin-top: 0;
    opacity: 0.75;
    border-radius: 4px;
    width: 90%;
    height: 28px;
    background: #f2f2f2;
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
  }
  
  .assign-btn-icon {
    width: 15px;
    ::ng-deep svg {
      width: 16px !important;
      height: 16px !important;
      position: relative;
      top: 2px;
    }
  }
  
  .assign-btn-text {
    padding-left: 5px;
    color: #000000;
    font-size: 80%;
    position: relative;
    top: -2px;
  }
  
  .list-icons {
    width: 18px;
  
    ::ng-deep svg {
      width: 16px !important;
      height: 16px !important;
      position: relative;
      top: 2px;
    }
  }
  
  .display-flex {
    display: flex;
  }
  
  .high-priority {
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #f39f9b;
  }
  
  .very-high-priority {
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #ff3b30;
  }
  
  .medium-priority {
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #ff9800;
  }
  
  .low-priority {
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #4caf50;
  }
  
  .kit-ready {
    background-color: #34c759;
  
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    float: right;
  }
  
  .waiting-on-parts {
    background-color: #ff9500;
  
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    float: right;
  }
  
  .parts-available {
    background-color: #5ac8fa;
  
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    float: right;
  }
  
  .show-operations-btn {
    padding: 0 10px 10px;
    text-transform: initial;
    font-style: normal;
    font-weight: 500;
    font-size: 95%;
    color: #76767b;
    letter-spacing: 0;
    background-color: white;
    border: none;
  }
  
  .down-up-arrow {
    font-size: 170%;
    top: 7px;
    position: relative;
  }
  
  .operations-line {
    height: 5px;
    margin: 0;
    border: 0;
    box-shadow: 0 10px 8px -12px #8c8c8c inset;
  }
  
  .operations-div {
    border-left: 2px solid #e5e5e5;
    margin-left: 15px;
  }
  
  .operations-list {
    border-bottom: none;
    list-style-type: none;
    padding: 7px;
  }
  
  .assign-user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 16px;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
  }
  
  .assign-user-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .inprogress-user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 16px;
    color: #76767b;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
  }
  
  ::ng-deep .maintenance-card .mat-progress-bar-fill::after {
    background-color: #76767b;
  }
  
  ::ng-deep .maintenance-card .mat-progress-bar-buffer {
    background: #f5f5f5;
  }
  
  .progress-bar-class {
    margin-bottom: 7px;
    margin-left: 20px;
    height: 6px;
    border-radius: 8px;
    width: 90%;
  }
  
  .float-right {
    float: right;
    text-align: right;
  }
  
  .width-100 {
    width: 100%;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .column-loader {
    position: relative;
    top: -7px;
    left: 10px;
  }
  