.permissions-revoke-modal {
  width: 467px;
  height: auto;
  overflow: hidden;
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;

  p {
    margin: 0 0 16px 0;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 110%;
    line-height: 19px;
  }

  .info {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 16px;
  }

  .okay-btn {
    background: #3d5afe;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    border: none;
  }
}
