@import 'colors.scss';

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 16px;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-2 {
  display: flex;
  flex-direction: row;
}

.m-l-0 {
  margin-left: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-minus-5 {
  margin-left: -5px;
}

.m-l-7 {
  margin-left: 7px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-minus-10 {
  margin-left: -10px;
}

.m-l-minus-15 {
  margin-left: -15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-6 {
  margin-right: 6px !important;
}

.m-r-7 {
  margin-right: 7px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-12 {
  margin-right: 12px !important;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-7 {
  padding-right: 7px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-7 {
  padding-left: 7px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-7 {
  padding-top: 7px;
}

.p-t-2 {
  padding-top: 2px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-13 {
  padding-top: 13px;
}

.p-0-20 {
  padding: 0 20px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-1 {
  margin-bottom: 1px;
}

.m-b-3 {
  margin-bottom: 3px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-2 {
  margin-top: 2px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-7 {
  margin-top: 7px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-minus-10 {
  margin-bottom: -10px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-b-35 {
  margin-bottom: -35px;
}

.m-0-10 {
  margin: 0 10px;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}
.width-12 {
  width: 12%;
}

.width-14 {
  width: 14%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-21 {
  width: 21%;
}

.width-25 {
  width: 25%;
}

.width-28 {
  width: 28%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}
.width-33{
  width: 33%;

}
.width-40 {
  width: 40%;
}

.width-41 {
  width: 41%;
}

.width-43 {
  width: 43%;
}

.width-45 {
  width: 45%;
}

.width-49 {
  width: 49%;
}

.width-50 {
  width: 50%;
}

.width-54 {
  width: 54%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.h-48 {
  height: 48px;
}

.h-100 {
  height: 100%;
}

.fnt-white {
  color: #ffffff;
}
.padding-left-10 {
  padding-left: 10px;
}

.text-red {
  color: #ff3b30;
}

.bg-white {
  background-color: #ffffff;
}

.bg-lightgray {
  background-color: #e5e5e5;
}

.bg-red {
  background-color: #ff3b30;
}

.b-r-8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.dis-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

button {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

// .cdk-overlay-container {
//   z-index: 10000 !important;
// }

.custom-card {
  box-shadow: 0px 0px 0px;
}

ul {
  list-style-type: disc !important;
}

.questions ol,
ul {
  padding-left: 15px;
}

.instruction ol li {
  list-style-type: auto !important;
}

.instruction ul li {
  list-style-type: disc !important;
}

.instruction ol,
ul {
  padding: 0 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-s-100 {
  font-size: 100%;
}

.f-s-120 {
  font-size: 120%;
}

.f-s-80 {
  font-size: 80%;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .custom-modal-card {
    width: 640px;
  }
}

@media screen and (min-width: 577px) {
  .custom-modal-card {
    width: 360px;
  }
}

.custom-modal-card .modal-card-head {
  background: none;
  border-bottom: 0;
  font-size: 120%;
  font-weight: 700;
  padding: 10px 20px 0 20px;
}

.custom-modal-card .modal-card-foot {
  background: none;
  border-top: 0;
  position: relative;
  display: inline-block;
  padding: 0px 20px 10px 20px;
}

.custom-modal-card .buttons {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.custom-modal-card .button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.custom-modal-card .yes-btn {
  background-color: #ff3b30;
  border: 1px solid #ff3b30;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.custom-modal-card .no-btn {
  background-color: transparent;
  border: none;
  color: blue;
  margin-right: 5px;
}

.custom-modal-card .buttons.is-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 769px) {
  .custom-modal-card {
    width: 640px;
  }
}

.btn-outline-blue {
  border: 1px solid #1351d8;
  color: #1351d8;
}

.recent-wi-img {
  display: block;
}

.fav-wi-img {
  display: block;
}

.gray-bg {
  background: #e4e4e4;
}
.p-t-b-10 {
  padding-top: 0;
  padding-bottom: 0;
}
.p-6 {
  padding: 6px;
}

.p-20 {
  padding: 20px;
}

.p-l-r-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-centered {
  margin: 0 auto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.is-fav-icon {
  color: #f9d247;
}

.no-records {
  text-align: center;
  font-size: 120%;
  font-weight: 600;

  background: white;
  padding: 10px;
}

.no-search-records {
  text-align: center;
  font-size: 120%;
  font-weight: 600;
  position: relative;
  left: 150%;
  top: 20px;
}

.mat-tab-label-active {
  color: $blue-main;

  font-weight: 600;
  font-style: normal;
}

.mat-tab-label-container {
  background: #fff;
}

.editor {
  outline: none;
}

.steps-block {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #cccccc;
}

.mce-content-body {
  min-height: 1px;
  height: auto;
  margin: 0;
  position: relative;
  left: 15px;
  outline: none;
}

button:focus {
  outline: none;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.step-container .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}

.step-container
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 38px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.fnt-gray {
  color: #25282b;
}

.bg-sky-blue {
  background-color: #2196f3;
}
.bg-orange {
  background-color: #ff3b30;
}
.bg-green {
  background-color: #34c759;
}
.bg-blue {
  background-color: #5856d6;
}
.sky-blue {
  color: #2196f3;
}

.orange {
  color: #ff3b30;
}

.green {
  color: #34c759;
}
.blue {
  color: #5856d6;
}

.mat-raised-button[disabled]:not([class*='mat-elevation-z']) {
  color: #666;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.7;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing .success-modal {
  background-color: $black;
  opacity: 0.6;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.mat-error {
  font-size: 80%;
  color: #f44336;
}

.toast {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 10px 10px 15px;
  min-width: auto;
  width: auto;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #d6d6d6 #cfcfcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.alert-success,
.alert-danger {
  background: #2c2c2c;
  color: #ffffff;
  margin-bottom: -5px;
}

// @media screen and (max-width: 768px) {
//   .recent-wi-img {
//     display: none;
//   }

//   .fav-wi-img {
//     display: none;
//   }

//   .recent-edited {
//     display: none;
//   }
// }

.author-dropdown {
  width: 208px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: white;
  font: inherit;
  line-height: 15px;
  padding: 0.5em 3.5em 0.5em 1em;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}

.author-dropdown.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 19px) calc(1em + 2px),
    calc(100% - 14px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.coverImg {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.list-ellipsis {
  max-width: 300px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  float: left;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
}

.list-ellipsis:focus {
  outline: none;
}

.has-text-right {
  text-align: right;
}

.mat-icon-star {
  cursor: pointer;
}

.plyr--audio .plyr__controls {
  padding-bottom: 0;
}

.plyr__control {
  display: none;
}

/* .plyr__controls__item {
    display: none;
  } */

.plyr__progress__buffer {
  display: none;
}

.plyr__volume {
  display: none;
}

.plyr__time {
  display: none;
}

.plyr video {
  width: 315px;
}

.plyr__tooltip {
  display: none;
}

.plyr__progress input {
  width: 320px;
  height: 2px;
  margin: 30px 30px;
}
.hidden {
  visibility: hidden;
}

.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
