<div class="colour-picker-container">
  <div class="colours-box">
    <div *ngFor="let colour of colors; let i = index">
      <button
        class="each-colour-button"
        [ngStyle]="{
          'background-color': colour
        }"
        (click)="selectColour(colour)"
      >
        <svg-icon
          *ngIf="selectedColor === colour"
          icon="icon-tick"
          [ngClass]="selectedColor === '#ffffff' ? 'black-tick' : 'tick-icon'"
        ></svg-icon>
      </button>
    </div>
  </div>
  <span class="colour-header-text">Custom Colour</span>

  <div type="color" class="custom-colour-button">
    <input
      type="color"
      id="color1"
      name="favcolor"
      value="#c2b280"
      [style]="{ 'background-color': isCustomColor() ? selectedColor : '' }"
      (input)="onColorChange($event)"
      (change)="$event.stopPropagation()"
      (click)="$event.stopPropagation()"
    />
    <svg-icon icon="icon-pencil" class="pencil-icon"></svg-icon>
  </div>
</div>
