.background-container {
  background: #f0f7ff;
  height: 100vh;
  margin-top: -30px;

  .background-heading {
    padding: 50px 30px;
    font-weight: 800;
    letter-spacing: 1.5px;

    span {
      font-size: 250%;
    }
  }

  .logo {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
  }

  .graphics-left {
    position: absolute;
    left: 0;
    height: 500px;
    width: 645px;
    bottom: -75px;
  }

  .graphics-right {
    position: absolute;
    right: -50px;
    width: 515px;
    bottom: 0px;
  }
}
